<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	<rewrite>
  <rules>
    <rule name="Rewrite to /article/">
      <match url="^article/([0-9]+)/([_0-9a-z-]+)" />
      <action type="Rewrite" url="/article/?id={R:1}" />
    </rule>
  </rules>
</rewrite>
        <defaultDocument>
            <files>
            </files>
        </defaultDocument>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="180.00:00:00" />
        </staticContent>
        <httpProtocol allowKeepAlive="true" />
    </system.webServer>
  <system.web>
    <customErrors mode="On" redirectMode="ResponseRewrite" defaultRedirect="/Error.aspx" />
  </system.web>
</configuration>
