@charset "utf-8";
/* CSS Document */

body, h1, h2, h3, ul, li, p {margin: 0;	padding: 0;}

.slide-panel {
	position: relative;
	z-index: 25;
}

.table-content {
	z-index: 10;
	overflow: hidden;
	height: 0;
	background: #003663 url(/images/slide-menu-bgx.gif) left bottom repeat-x;
	padding:0 30px 10px 40px;
	width: 100%;
}

.table-content h3, .table-content h3 a{ background:url(/images/yellow-arrw.gif) left 12px no-repeat; padding-left: 14px; font: bold 11px/15px Arial, Helvetica, sans-serif; text-decoration: none; text-transform: uppercase; color: #fffbcc; padding-top: 10px;}

.table-content h3 a:hover{text-decoration: underline}

.table-content .column{ float: left; width: 245px;}
.table-content .column-sec{ float: left; width: 220px;}

.table-content ul.gray{ padding: 4px 0 4px 15px;}
.table-content ul.gray li{ background:url(/images/blue-arrw.gif) left center no-repeat; list-style: none; padding-left: 12px; font: normal 9px/16px Arial, Helvetica, sans-serif; color: #c8d6e1;}
.table-content ul.gray li a{color: #c8d6e1; text-decoration: none;}
.table-content ul.gray li a:hover{color: #c8d6e1; text-decoration: underline;}


.table-content ul.yellow{ padding: 10px 10px 10px 15px; border: solid 1px #809693; margin-top: 10px; width: 140px;}
.table-content ul.yellow li{ background:url(/images/arrow-yellw.gif) left center no-repeat; list-style: none; padding-left: 12px; font: normal 9px/16px Arial, Helvetica, sans-serif; color: #fffbcc; text-transform:uppercase;}
.table-content ul.yellow li a{color: #fffbcc; text-decoration: none;}
.table-content ul.yellow li a:hover{color: #fffbcc; text-decoration: underline;}

.normal{ font: normal 11px/13px Arial, Helvetica, sans-serif; text-decoration: none; text-transform: uppercase; color: #fffbcc; display:block; padding-left: 14px;}


.slide-button {
	position: absolute;
	width: 126px;
	z-index: 20;
	text-align: center;
	font: normal 9px/11px tahoma, arial, verdana;
	margin-left: auto;
	right: 66px;
	cursor: pointer;
	color: #003663;
	background: url(/images/table-content-bg.gif) left bottom  no-repeat;
	height: 26px;
}

.slide-button:hover {
	color: #003663;
}
#close-button{
	position: absolute;
	width: 126px;
	z-index: 20;
	text-align: center;
	font: normal 9px/11px tahoma, arial, verdana;
	margin-left: auto;
	right: 66px;
	cursor: pointer;
	color: #003663;
	background: url(/images/table-content-bg.gif) no-repeat;
	height: 26px;}